 .bg-image {
     background-size: cover;
     /* 保持纵横比，填充整个容器 */
     background-position: center bottom;
     /* 将图片居中显示 */
     width: 100%;
     /* 设置容器宽度为100% */
    height: 100vh;
     /* 设置容器高度 */
 }

body {
    position: relative;
    min-height: 100vh;
}

.transparent-table {
    background-color: transparent !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
