<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <a href="{{ url_for('routes.user_details') }}"> {{ username }}</a> !</h1>

    <nav>
        
        <a href="{{ url_for('routes.car_list') }}">Car List</a>
        
        <a href="{{ url_for('routes.customer_list') }}">Customer List</a>
        
        <a href="{{ url_for('routes.staff_list') }}">Staff List</a>

        <a href="{{ url_for('auth.logout') }}">Log out</a>
    </nav>

</body>
</html>