{% extends "base_routes.html" %}

{% block content %}

<div class="container-lg">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5 text-center text-md-start">
            <div class="fs-5">
                <p >License Plate: {{car_details[1]}}</p>
                <p >Make: {{car_details[2]}}</p>
                <p >Model: {{car_details[3]}}</p>
                <p >Year: {{car_details[4]}}</p>
                <p >Seating Capacity: {{car_details[5]}}</p>
                <p>Price per Day: {{car_details[6]}}</p>
                <p >Transmission: {{car_details[7]}}</p>
            </div>
            <a href="#">Book Now</a>
        </div>
        <div class="col-md-5 text-center d-none d-md-block">
            <img src="../static/images/car10.jpg " alt="car" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}