{% extends "base_routes.html" %}

{% block content %}
<div class="msg">{{ msg }}</div>
<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="card border-light" style="width: 35rem;">
        <div class="card-body">
            <div class="container" style="width: 90%;">
                <form action="{{url_for('routes.customer_add')}}" method="POST" class="row g-3">
                    <div class="col-12">
                        <label for="username" class="form-label text-dark">Username</label>
                        <input type="text" name="username" class="form-control" id="username" required maxlength="50"
                            pattern="[A-Za-z0-9]+">
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label text-dark">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required minlength="6"
                            maxlength="20" pattern="^[^\s]+$">
                    </div>
                    
                    <div class="col-12">
                        <label for="email" class="form-label text-dark">Email</label>
                        <input type="email" name="email" class="form-control" id="email"
                          required  maxlength="50">
                    </div>


                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}