<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <nav class="nabar navbar-expand-lg bg-light"> 
        <div class="container">
            <div>
                <a href="#" class="navbar-brand"><img src="articulated-lorry-emoji-clipart-xl.png" width="180px" alt="Image" class="img-fluid"></a>
            </div>
            <div></div>
            
        </div>
        
    </nav>
    <section>
        <div>
            <img src="#" alt="logo">
            <p>company name</p>
        </div>
        <nav>
            <ul>service</ul>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
        </nav>
    </section>
    <section>
        <img src="#" alt="background">
        <p>sologon</p>
    </section>
    <footer>contact us</footer>
</body>
</html>