{% extends "base.html" %}

{% block link1 %}
<a class="nav-link" href="#">Intrtion</a>
{% endblock %}

{% block link2 %}
<a class="nav-link active" href="{{url_for('auth.login')}}">Login</a>
{% endblock %}

{% block link3 %}
<a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
{% endblock %}

{% block content %}
<div class="messages position-fixed top-0 end-0 p-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages bg-dark text-light rounded p-3">
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

<form action="{{url_for('auth.login')}}" method="POST" style="width: 400px; margin: 100px auto">
    <div class="mb-3">
        <label for="username" class="form-label text-light">Username</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
        <!-- <div id="username" class="form-text">Please enter your username. It should be unique and alphanumeric.</div> -->
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label text-light">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}